
<!DOCTYPE html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- <link rel="stylesheet" href="/css/layout.css"> -->

    <!-- Extract styles of individual pages -->
    <%- style %>
</head>
<body>
    <!-- Include header partial -->
    <%- include('_header') %>

    <!-- Define the variable partial -->
    <%- body %>

    <!-- Include footer partial -->
    <%- include('_footer') %>

    <!-- Extract scripts of individual pages -->
    <%- script %>
</body>
</html>